*

!.gitignore
!.gitkeep
!.gitattributes

!.github
!.github/workflows
!.github/workflows/lint.yml
!.github/workflows/utest.yml

!config
!config/.flake8
!config/Dockerfile
!config/jupyter_notebook_config.py
!config/pytest.ini
!config/requirements.txt

!model

!srcs
!srcs/snake.py

!srcs/modules
!srcs/modules/parser.py
!srcs/modules/environment.py
!srcs/modules/agent.py
!srcs/modules/io.py

!tests
!tests/utest
!tests/utest/*.py

!__init__.py
!compose.yml
!Makefile
!README.md
