*

!.gitignore
!.gitkeep

!.github
!.github/workflows
!.github/workflows/lint.yml

!config
!config/Dockerfile
!config/jupyter_notebook_config.py
!config/pytest.ini
!config/requirements.txt

!srcs

!compose.yml
!Makefile
!README.md
